body {
    background-color: rgb(139, 138, 138);
    color: rgb(69, 71, 71);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:2px;
    padding: 2px;
}

header {
    background-color: rgb(69, 71, 71);
    color: azure;
    text-align: center;
    padding: 3px;
}
section.img{
    margin:20px:
}
span{
    
    color: #360d0d;
    border: 3px solid #20883a;
    padding: 3px;
}
h1 {
    font-size: 24px;
}

h1:first-line {
    font-size: 32px;
    font-weight: bold;
    color: rgb(20, 14, 14);
}

h1 strong {
    font-style: italic;
    color: rgb(39, 85, 39);
}

ul {
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul > li {
    margin-bottom: 10px;
    background-color: #500b0b;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul > li:nth-child(1) {
    font-weight: bold;
    color: #2208b8;
}

ul > li:nth-child(2) {
    font-weight: bold;
    color: rgb(148, 148, 25);
}
ul > li:nth-child(3) {
    font-weight: bold;
    color: rgb(8, 170, 116);
}
ul > li:nth-child(4) {
    font-weight: bold;
    color: rgb(206, 7, 156);
}
ul > li:nth-child(5) {
    font-weight: bold;
    color: rgb(125, 4, 196);
}
img{
    margin: 20px;
    height: 300px;
}
footer {
    background-color: rgb(37, 37, 37);
    color: azure;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}